<p>A request was made to change the password for this account.</p>
{{ settings.user.note_password|raw }}
<p><a href="{{ full_url_for('password') }}?token={{ token }}">Change Password</a></p>
{{ settings.template.contact|raw }}
